@mixin button-size($height, $padding-horizontal, $font-size, $border-radius) {
  $padding-vertical: round(($height - $font-size * $line-height-base) / 2 * 10) / 10 - $border-width-base;

  height: $height;
  padding: $padding-vertical $padding-horizontal;
  font-size: $font-size;
  border-radius: $border-radius;
}

@mixin button-disabled($color: $btn-disabled-color, $background: $btn-disabled-bg, $border: $btn-disabled-border) {
  &-disabled,
  &.disabled,
  &[disabled] {
    &,
    &:hover,
    &:focus,
    &:active,
    &.active {
      @include button-color($color, $background, $border);

      text-shadow: none;
      box-shadow: none;
    }
  }
}

@mixin button-variant-primary($color, $background) {
  @include button-color($color, $background, $background);

  text-shadow: $btn-text-shadow;
  box-shadow: $btn-primary-shadow;

  &:hover,
  &:focus {
    @include button-color($color, #40a9ff, #40a9ff);
  }

  &:active,
  &.active {
    @include button-color($color, #096dd9, #096dd9);
  }

  @include button-disabled();
}

@mixin button-variant-other($color, $background, $border) {
  @include button-color($color, $background, $border);

  &:hover,
  &:focus {
    @if $theme == dark {
    } @else {
      @include button-color(#40a9ff, #fff, #40a9ff);
    }
  }
  &:active {
    @if $theme == dark {
    } @else {
      @include button-color(#096dd9, #fff, #096dd9);
    }
  }
}

@mixin button-color($color, $background, $border) {
  color: $color;
  background-color: $background;
  border-color: $border;
}

// Base styles of buttons
@mixin btn {
  font-weight: $btn-font-weight;
  border: $btn-border-width $btn-border-style transparent;
  cursor: pointer;
  user-select: none;
  @include button-size($btn-height-base, $btn-padding-horizontal-base, $btn-font-size-base, $btn-border-radius-base);

  &:focus {
    outline: 0;
  }

  &.disabled,
  &[disabled] {
    cursor: not-allowed;
  }

  &-lg {
    @include button-size($btn-height-lg, $btn-padding-horizontal-lg, $btn-font-size-lg, $btn-border-radius-lg);
  }

  &-sm {
    @include button-size($btn-height-sm, $btn-padding-horizontal-sm, $btn-font-size-sm, $btn-border-radius-sm);
  }
}

// primary button style
@mixin btn-primary() {
  @include button-variant-primary($btn-primary-color, $btn-primary-bg);
}

// default button style
@mixin btn-default() {
  @include button-variant-other($btn-default-color, $btn-default-bg, $btn-default-border);
}

// dashed button style
@mixin btn-dashed {
  @include button-variant-other($btn-default-color, $btn-default-bg, $btn-default-border);
  border-style: dashed;
}

// link button style
@mixin btn-link() {
  @include button-variant-other($link-color, transparent, transparent);

  &:hover,
  &:focus,
  &:active {
    border-color: transparent;
  }
}

@mixin btn-background-ghost {
  @include button-variant-other($btn-background-ghost-color, $btn-background-ghost-bg, $btn-background-ghost-border);
}
