@import "../../../style/themes/index.scss";
@import "./mixin";

$btn-prefix-cls: #{$ant-prefix}-btn;

.#{$btn-prefix-cls} {
  line-height: $line-height-base;
  @include btn;
  @include btn-default;

  &-primary {
    @include btn-primary();
  }

  &-dashed {
    @include btn-dashed();
  }

  &-link {
    @include btn-link();
  }

  &-background-ghost {
    @include btn-background-ghost();
  }

  &-block {
    width: 100%;
  }
}
